
body, table, input, select {font: 8pt verdana}

a {
  color: blue;
  text-decoration: none;
}
a:hover {text-decoration: underline}

th {
  color: #999;
  font-weight: normal;
  font-size: 9pt;
}

.right {text-align: right}
.right2 {
  text-align: right;
  padding-right: 6;
  vertical-align: top;
}

.done  {padding: 0 7}
.pause {padding: 0 7; font-weight: bold; font-size: 7}
.play  {padding: 0 7}
.wait  {padding: 0 7}

.assign {
  position: absolute;
  display: none;
  border: 1px solid black;
  background-color: white;
  padding: 3;
  margin: -17 0 0 28;
}

.block {
  float: left;
  margin: 20;
  width: 250;
}

.l {height: 25; padding-left: 4}
.r {height: 25}

.edit {
  text-align: right;
  padding-top: 7;
}
.logout {
  text-align: left;
  padding-top: 7;
}

.back {padding-top: 5; padding-left: 3}
.add {padding-top: 5; padding-left: 3; text-align: left}
.add a {color: green}

.delete2 {padding-left: 7}
.delete2 a {color: gray}
.delete2 a:hover {color: red}

.resolve {padding-left: 7}
.resolve a {color: gray}
.resolve a:hover {color: green}

.caption1 {
  font-size: 13pt;
  border: 1px solid black;
  padding: 5;
  width: 250;
}
.caption2 {
  font-size: 15pt;
  border: 1px solid black;
  padding: 10;
}

.z1 {text-align: center}
.z2 {
  text-align: center;
  background-color: #f1f1f1;
  border-top: 1px dotted #888;
  border-bottom: 1px dotted #888;
}

.z3 {text-align: center; cursor: pointer}
.z4 {text-align: center; cursor: pointer; background-color: #efefef}
.z5 {text-align: center; cursor: pointer; background-color: lemonchiffon}

.i1 {height: 18}

.d1 {
  border: 1px solid #ccc;
  padding: 2;
}
.d2 {
  background-color: royalblue;
  color: white;
  font-weight: bold;
  text-align: center;
}

.info     {padding: 0 4}
.info .a1 {padding-left: 1; }
.info .b1 {padding-left: 1; width1: 20; text-align: center}
.info .c1 {padding-left: 1; text-transform: lowercase}


input[type=text].t3 {border: 1px solid transparent; background-color: transparent; width: 100%; text-align: center; color: gray}
input[type=text].t2 {border: 1px solid transparent; background-color: transparent; width: 100%; text-align: center; color: black}

textarea      , input.t1 {border: 1px solid #ccc; padding: 2}
textarea:hover, input.t1:hover,
textarea:focus, input.t1:focus  {border: 1px solid #00539f}

.pwd {
  position: absolute;
  display: none;
  padding: 1;
  margin: -19 65;
  border: 1px solid gray;
  background-color: white;
}

.error {
  background-color: lemonchiffon;
  border: 1px dashed red;
  padding: 10;
}

.scroll {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  height: 175;
  overflow: auto;
}

.o {
  opacity: 0.4;
  padding-left: 9
}

.active {
  padding-bottom: 5;
  height: 18;
}

.invert {
  text-align: center;
  background-color: #eee;
  color: #999;
  border: 1px dotted #999;
  padding: 3;
  cursor: default;
}

